:root{
    --theme-color: rgb(38, 38, 38);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body{
    height: 100%;
    overflow: auto;
}

#body{
    height: 100%;
}

header{
    /* background-image: url('images/coffee-and-laptop.jpg');
    background-size: cover;
    color: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat; */

    height: 100vh;
    width: 100%;

    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
}

.bg-image{
    background-image: url("./images/coffee-and-laptop.jpg");
  
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
  
    height: 100%; 
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image:hover{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}


.bg-text {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    text-align: center;
  }

.bg-text:hover{
    filter: blur(8px);
}

.bg-text h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.bg-text h2{
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.25em;
}

img {
    width: 200px;
    height: auto;
}

/* .header-container{
    width: 50%;
    text-align: center;
    margin: 0 auto;
} */

/* .header-container h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-container h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.25em;
} */

#services-section{
    width: 100%;
    background-color: var(--theme-color);


}

#services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    max-width: 75%;
    color: white;
    gap: 30px;
}

.icon{
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}

.icon h2{
    margin: 20px 0;
}

#about-section{
    width: 100%;
    background-color: #fff;

}

#about{
    max-width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 80px;
    padding-top: 80px;
}

i{
    text-align: center;
    
}

.laptop{
    color: var(--theme-color);
}

.about-text h2{
    font-weight: bold;
    padding-bottom: 10px;
}

.about-text p{
    padding-top: 10px;
    font-size: 1.2em;
}

footer{
    background-color: var(--theme-color);
    color: #fff;
    text-align: center;
    padding: 30px 0;
    font-size: 1.3em;
}

@media (max-width: 550px) {
    header{
        height: 60vh;
        position: relative;
    }

    .bg-text{
        position: absolute;
    }

    .bg-text h1{
        font-size: 1.5em;
    }

    .bg-text h2{
        display: none;
    }

    img{
        margin: 0 auto;
        width: 100px;
        height: auto;
    }

    #services{
        padding-top: 20px;
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .icon{
        margin: 15px auto;
        border-bottom: 1px dashed #fff;
        padding-bottom: 20px;
    }

    #about{
        grid-template-columns: 1fr;
        gap: 40px;
    }
}